/* === Indie Flower - regular */
@font-face {
	font-family: 'Indie Flower';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("./font/IndieFlower-Regular.eot");
	src: local('Indie Flower'),
		url("./font/IndieFlower-Regular.eot") format("embedded-opentype"),
		url("./font/IndieFlower-Regular.woff2") format("woff2"),
		url("./font/IndieFlower-Regular.woff") format("woff"),
		url("./font/IndieFlower-Regular.ttf") format("truetype"),
		url("./font/IndieFlower-Regular.svg") format("svg");
}
